<nav class="mx-4 m-auto mt-8 flex h-16 items-center justify-between rounded border px-3">
  <%= link_to "MICROPOSTS", root_path, class: "text-xl font-extrabold text-orange-400 underline underline-offset-4" %>
  <ul class="flex items-center justify-between gap-3">
    <% if logged_in? %>
      <li><%= link_to "Users", users_path %></li>
      <%= link_to "Profile", current_user, class: "font-bold" %>
      <li>
        <%= link_to "Logout", logout_path, data: { turbo_method: :delete }, class: "rounded-md bg-black p-2 font-bold text-white" %>
      </li>
    <% else %>
      <li>
        <%= link_to "Sign Up", signup_path, class: "rounded-md bg-orange-400 p-2 font-bold text-white" %>
      </li>
      <li>
        <%= link_to "Sign In", login_path, class: "rounded-md bg-black p-2 font-bold text-white" %>
      </li>
    <% end %>
  </ul>
</nav>
